main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.food-items-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    list-style: none;
    margin: 20px 0px 80px 0px;
}

.food-section {
    max-width: 900px;
}

.flex-row-between {
    width: auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    margin: 0px 40px 0px 40px;
}

.black-text {
    color: black;
}

/*section 2*/
.review-section {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    width: 100%;
    background-color: #495E57;
    margin: 50px 0px 80px 0px;
    padding: 50px 30px 50px 30px;
}

.review-section h2 {
    color: #F4CE14;
}

.reviews-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    height: 250px;
    gap: 30px;
    list-style: none;
}

/*section 3*/
.informative-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    column-gap: 50px;
    row-gap: 30px;
    flex-wrap: wrap;
    margin: 50px 40px 120px 40px;
}

.restaurant-article {
    width: 290px;
    margin-top: -30px;
}

.restaurant-article > h2 {
    color: #333333;
}

.restaurant-article > p {
    color: black;
    font-weight: 550;
    margin-top: 15px;
    text-align: justify;
}

.presentation {
    position: relative;
    width: 400px;
    height: 400px;
}

.presentation img:first-child {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    width: 250px;
    height: 300px;
    object-fit: cover;
}

.presentation img:last-child {
    position: absolute;
    right: 0;
    top: 0;
    width: 250px;
    height: 300px;
    object-fit: cover;
}