.confimation-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    padding-bottom: 100px;
}

.confimation-main > *:first-child {
    width: 150px;
    height: 150px;
}

.confimation-main span {
    margin: 10px 0px 10px 0px;
    font-size: 18px;
    font-weight: bold;
}