* {
  margin: 0px;
  padding: 0px;
  font-family: 'Karla', sans-serif;
  font-weight: normal;
  font-size: 16px;
}

a {
  cursor: pointer;
}

button {
  background-color: #F4CE14;
  color: black;
  width: fit-content;
  font-weight: bold;
  font-size: 18px;
  border-radius: 16px;
  padding: 8px 15px 8px 15px;
  border: 0px;
  cursor: pointer;
}

button:hover {
  background-color: #333333;
  color: #F4CE14;
}

button:active {
  filter: brightness(110%);
}

h1, h2 {
  font-family: 'Markazi Text', sans-serif;
  font-weight: medium;
  font-size: 40px;
  line-height: 1.5;
}